@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

*{
    margin:0px;
    padding:0px;
    box-sizing: border-box;
}

body{
    font-family: 'Montserrat', sans-serif;
}

/* Menu Index */
#menu li > a:hover {
    font-size: 18px;
    color: #3f3f3f;
}

#menu form > button{
    font-size: 18px;
    font-weight:bold;
}

.separator {
    border: 0;
    border-top: 2px solid #3f3f3f; 
    margin: 2rem 0; 
}

/* Slider Index */

.carousel-inner {
    max-height: 60rem;
}

/* Mapa Index */

.mapa {
    background: url(../img/index/mapa.png);
    width: 100%;
    height: auto;
}

#local {
    background: #f3f3f3 ;
    padding-bottom: 80px;
    display: flex;
    justify-content: center;
}

.wrapper {
    width: 50%;
    margin-left: 100px;
    padding-top: 150px;
}

#numeros-local div{
    padding: 0 20px 0 0;
    height: 48px;
}

#numeros-local div:not(:last-child) {
    border-right: 2px solid #3f3f3f;
}

#numeros-local div:not(:first-child) {
    padding-left: 20px;
}

#numeros-local p {
    margin:0;
}

/* Sobre nosotros Index */
#staff {
        max-width: 100%;
        height: auto;
    }

/* Footer Index */
footer {
    background-color: #dc3544;
    min-height: 100px;
}

footer p{
    color: #f3f3f3;
    text-align: center;
}
#iconos i {
    font-size: 26px;
    padding: 0 8px;
    color: #f3f3f3;

}

/* PRODUCTOS.HTML */
.video-background {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1; 
}

.position-relative {
    position: relative;
}

.content {
    position: relative;
    z-index: 1; 
}

.container{
    max-width: 1200px; 
    margin: 40 auto; 
    background-color: #dc3544;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.tituloP {
    width: 100%;
    text-align: center;
    font-weight: bold;
    margin: 30px;
    font-size: 30px;
    flex-wrap: wrap;
}

.caja {
    margin: 60px;
}

.caja img {
    width: 220px;
    height: 280px;
    border-radius: 30px;
}

.caja p {
    text-align: center;
    margin: 10px;
    font-size: 20px;
    font-weight: bold;
}

/* EVENTOS.HTML */

.tituloE {
    width: 100%;
    text-align: center;
    font-weight: bold;
    margin: 20px;
    font-size: 42px;
}

.card-container{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 100px;
}

.card{
    width: 900px;
    background-color: #f0f0f0 ;
    border-radius: 8px ;
    overflow: hidden;
    box-shadow: 0px 2px 4px rgba(0,0,0,0.2);
    margin: 20px;
}

.card img{
    width: 100%;
    height: auto;
}

.card-content{
    padding: 16px;
}

.card-content h2{
    font-size: 28px;
    margin-bottom: 8px;
}

.card-content p{
    color: #666;
    font-size: 15px;
    line-height: 1.3;
}

.card-content .btn{
    display: inline-block;
    padding: 8px 16px;
    background-color: #3f3f3f;
    text-decoration: none;
    border-radius: 4px;
    margin-top: 16px;
    color: #f0f0f0;
}

/* Pantalla Ancha */

@media (max-width:1200px) {
    #local {
        flex-wrap:wrap;
        padding-top:30px;
    }

    .wrapper {
        width: 90%;
        margin: auto;
        padding-top: 50px;
    }
}

/* Pantalla SM */

@media (max-width:768px) {
    #intro, #equipo {
        width: 90% !important;
    }
}

.servicio-fila{
    width: 100% !important;
    text-align: center;

}

/* Pantalla Extra Small */
@media (max-width:576px) {
    .icono-wrap{
        flex-wrap: wrap;
        justify-content: center !important;
    }
}